[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tomli = "*"
pillow = "*"
pydantic = "*"
python-ulid = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pymongo = "*"

[requires]
python_version = "3.9"

[dev-packages]
sphinx = "*"
sphinx-rtd-theme = "*"
